/* ============================= */
/* BUTTON */
/* ============================= */
.btn-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding-top: 40px;
}

.btn-wrapper button {
    flex: 1;
    padding: 12px;
    cursor: pointer;
}


.btn-primary {
    padding: 12px;
    border: none;
    border-radius: var(--radius-md);
    background: var(--gradient-primary);
    color: var(--text-primary);
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: var(--glow-purple);
}

.btn-primary:active {
    transform: scale(0.98);
}



.btn-secondary {
    padding: 12px;
    border: 1px solid var(--primary-500);
    border-radius: var(--radius-md);
    background: transparent;
    color: var(--text-primary);
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    transform: translateY(-2px);
    box-shadow: var(--glow-purple);
}

.btn-secondary:active {
    transform: scale(0.98);
}